.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
test-fixtures/**
.gitignore
.nvmrc
.rust-toolchain.toml
rust-toolchain.toml
**/Cargo.toml
**/Cargo.lock
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.log
**/*.tsbuildinfo
.cache/**
coverage/**
